.main {
    position: absolute;
    top: 16%;
    left: 10%;
}

p {
    margin-bottom: 0.1rem!important;
}

.name {
    font-weight: 400;
    letter-spacing: 0.7rem;
}

.motto {
    font-size: 12px;
    letter-spacing: 0.2rem;
}

.proj-title {
    font-size: 15px;
    letter-spacing: 0.3rem;
}

.proj {
    font-size: 12px;
    letter-spacing: 0.2rem;
}

.links {
    padding-top: 40vh;
}

a {
    font-weight: 400;
    letter-spacing: 0.25rem;
    font-size: 12px;
    color: #222!important;
    padding-right: 8vw;
}

a:hover {
    color: #555!important;
}

footer {
    font-size: 10px;
    text-align: center;
}

.footer {
    bottom: 1vh!important;
}